body{
    background-color:#dddddd;
}
hr {
   
    border-style: none;
    border-top:dotted 6px #f4f4f4;
    height: 0px;
    width: 5%;
}
img{
    height: 200px;
}
h1,h3 {
    color:#342b38;
    -webkit-text-stroke:0.5px grey;
}